/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #fff;
}

/* Cabeçalho */
header {
    background-color: #000000;
    padding: 5px;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro do nav */
    align-items: center;
    width: 100%; /* Garante que o nav ocupe toda a largura */
}

header nav .logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    align-items: center;
    margin: 0 auto; /* Centraliza a logo */
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin: 0 20px;
    align-items: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* Seção Principal */
.hero {
    position: relative;
    text-align: center;
    color: #fff;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

/* Seção de Benefícios */
.benefits {
    padding: 10px;
    text-align: center;
}

.benefits h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.benefit-items {
    display: flex;
    justify-content: space-around;
}

.benefit-item {
    width: 30%;
}

.benefit-item h3 {
    color: #ff7300a9;
    font-size: 1.0rem;
    margin-bottom: 15px;
}

.benefit-item p {
    color: #f1a16b;
    font-size: 1rem;
}

/* Seção sobre a empresa */
.about {
    padding: 50px;
    text-align: center;
    background-color: #ff7300;
}

.testimonials blockquote {
    margin-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
}

.testimonials footer {
    font-size: 1rem;
    color: #ddd;
}

/* Seção de atividades */
.activities {
    background-color: #fff;
    padding: 50px;
    text-align: center;
}


.activity-cards {
    display: flex;
    justify-content: space-around;
}

.activity-card {
    width: 30%;
}

.activity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.activity-card h3 {
    color: #ff7300;
    margin-top: 10px;
    font-size: 0.8rem;
}

.activitiestxt {
    background-color: #ff7300;
    padding: 10px;
    text-align: center;
}

/* Seção de Contato */
.contact {
    padding: 50px;
    text-align: center;
    background-color: #000000;
}








/*testando essa porra */

.contato {
    padding: 50px;
    text-align: center;
    background-color: #ffffff; /* Cor de fundo escura */
    color: rgb(3, 0, 0); /* Texto branco */
}

.formulario {
    background-color: #fcb90005; /* Fundo preto para o campo */
    padding: 20px;
    border: 5px solid rgba(253, 152, 0, 0.253); /* Borda branca */
    border-radius: 10px; /* Bordas arredondadas */
    width: 300px; /* Largura do campo */
    margin: 0 auto; /* Centraliza o campo */
}

.contato-card {
    margin-bottom: 20px; /* Espaçamento entre os cards */
    text-align: center;
}

.contato-card a {
    text-decoration: none;
    color: white; /* Cor do texto */
}

.contato-card img {
    width: 15%; /* Imagem ajustada para 50% do tamanho do card */
    height: auto; /* Ajuste de altura para manter a proporção da imagem */
    margin-bottom: 05px;
    transition: transform 0.3s ease-in-out; /* Efeito ao passar o mouse */
}

.contato-card p {
    font-size: 18px;
    font-weight: bold;
    color: #ff8800; /* Cor laranja para o texto */
}

.contato-card:hover img {
    transform: scale(1.1); /* Efeito de zoom quando o mouse passa por cima da imagem */
}








/* Footer */
footer {
    font: arial, sans-serif;
    background-color: #ff7300;
    padding: 20px;
    text-align: center;
    color: #000000;
}
